cleanup = true
conda {
    enabled = true
    runOptions = '-u 979'
}

manifest {
    mainScript = 'main.nf'
}

params {
    reads = './test/*{R1,R2}.fastq.gz'
    adapt = './bin/adapter_sequences.fasta'
    diamond_db = './refseq_protein.dmnd'
    outdir = './test/results/'
}

profiles {
   standard {
        process {
            withLabel: high_cpu {
              executor = 'local'     // Specifies the executor
              cpus = 5               // Number of CPUs allocated per process
              memory = '200 GB'      // Memory allocated per process
              maxForks = 5           // Maximum number of processes that can run in parallel
            }
            withLabel: low_cpu {
              executor = 'local'     // Specifies the executor
              cpus = 1               // Number of CPUs allocated per process
              memory = '16 GB'       // Memory allocated per process
              maxForks = 1           // Maximum number of processes that can run in parallel
            }        
        }
    }
}
